.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  transition: background-color 0.3s ease;
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
  transition: background-color 0.3s ease;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

.intro h1 {
  max-width: 320px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.intro p {
  max-width: 440px;
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.intro a {
  font-weight: 500;
  color: var(--text-primary);
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;

  &:hover {
    background: var(--text-secondary);
  }
}

a.secondary {
  border-color: var(--border);
  color: var(--text-primary);

  &:hover {
    background: var(--border);
  }
}

@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--text-secondary);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--border);
    border-color: transparent;
  }
}

@media (width <= 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}
